body {
    background-color: rgb(2, 57, 78);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

.card {
    background-color: azure;
    border-radius: 16px;
    text-align: center;
    padding: 4px;
}

.inputs {
    border-radius: 12px;
    padding: 4px;
    width: 50%;
    margin-bottom: 8px;
}

.form__group-input {
    /* permite ubicación sencilla de ícono */
    position: relative;
  }

.form__input {
width: 80%;
border-radius: 12px;
border: 1px solid #EBEBEB;
background: #FAFAFA;
font-size: 14px;
padding: 8px;
}

.form__input--auto-width {
    width: auto;
}
  
.form__input--textarea {
resize: none;
min-height: 100px;
}

/*Text areas*/
.input-textarea {
-webkit-transition: 0.3s ease all;
transition: 0.3s ease all;
}

/* mensaje cuando hay error */
.form__input-error {
    font-size: 12px;
    display: none;
  }
  
  .form__input-error-act {
    display: block;
  }
  
  .form__icon-vstate {
    z-index: 1;
    font-size: 14px;
    opacity: 0;
  }
  
  /* formulario validación */
  .form__group--correct .form__icon-vstate {
    color: #6be788;
    opacity: 1;
  }
  
  .form__group--incorrect .form__icon-vstate {
    color: #fa7782;
    opacity: 1;
  }
  
  .form__group--incorrect .form__input {
    border: 2px solid #fa7782;
  }
  
  /* antes de hacer submit */
  .form__message {
    font-size: 12px;
    width: 77%;
    background: #fa7782;
    padding: 8px;
    border-radius: 3px;
    display: none;
  }
  
  .form__message--act {
    display: block;
  }

.btn {
    border-radius: 12px;
    background-color: rgb(2, 57, 78);
    color: aliceblue;
    font-size: medium;
    padding: 8px;
}