<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro: Pivot</title>
</head>
<body>
    <div class="">

        <div class="">
            <div class="">
                <h2>Registro</h2>
                <form action="" method="post" id="form">
                    <!-- Name -->
                    <div class="" id="">
                        <label for="fullname" class="">Name</label>
                        <div class="">
                            <input type="text" name="fullName" id="fullname" placeholder="Your name here" class="">
                            <i class=""></i>
                        </div>
                        <p class="">El nombre debe tener de 4 a 64 caracteres y solo puede contener letras, espacios y acentos.</p>
                    </div>
                    <!-- Lastname -->
                    <div class="" id="">
                        <label for="lastname" class="">LastName</label>
                        <div class="">
                            <input type="text" name="lastName" id="lastname" placeholder="Your lastname here" class="">
                            <i class=""></i>
                        </div>
                        <p class="">El usuario tiene que ser de 4 a 32 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                    </div>
                    <div class="" id="">
                        <label for="id" class="">ID</label>
                        <div class="">
                            <input type="text" name="id" id="id" placeholder="Your ID here" class="">
                            <i class=""></i>
                        </div>
                        <p class="">El usuario tiene que ser de 4 a 32 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                    </div>
                    <div class="" id="">
                        <label for="username" class="">UserName</label>
                        <div class="">
                            <input type="email" name="username" id="username" placeholder="Your username here" class="">
                            <i class=""></i>
                        </div>
                        <p class="">El usuario tiene que ser de 4 a 32 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                    </div>
                    <!-- password -->
                    <div class="form__group" id="group__password">
                        <label for="password" class="">Password</label>
                        <div class="">
                            <input type="password" name="password" id="password" placeholder="***********" class="">
                            <i class=""></i>
                        </div>
                        <p class="">La contraseña debe tener de 4 a 24 caracteres</p>
                    </div>
                    <!--  -->
                    <div class="form__group">
                        <p class="form__message" id="form__message">Error por favor rellena el formulario correctamente.</p>
                        <button class="btn btn__primary">
                            Register my account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>